  body { margin: 10px;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: 1em;
    color: rgb(88, 60, 59);
    background-color: rgb(255, 255, 255);
    }

  #masthead { border-top: 3px solid rgb(175, 152, 100);
    width: 600px;
    background-color: rgb(255, 218, 139);
    }

  #masthead td { padding: 5px 7px 2px;
    }

  #mastheadwide { border-top: 3px solid rgb(175, 152, 100);
    width: 825px;
    background-color: rgb(255, 218, 139);
    }

  #mastheadwide td { padding: 5px 7px 2px;
    }

  #leftCol, #rightCol { border-top: 3px solid rgb(175, 152, 100);
    padding-top: 7px;
    }

  #leftCol { width: 156px; 
    padding-right: 7px;
    background-color: rgb(255, 232, 183);
    padding-left: 7px;
    padding-bottom: 20px;
    }

  #rightCol { border-left: 2px dotted rgb(175, 152, 100);
    padding-left: 5px;
    width: 640px;
    }

  #rightCol h3 { border-bottom-style: none;
    }

  #rightCol img { border: 0px none ;
    text-align: center;
    }

  #rightCol p { padding-right: 50px;
    volume: 50 ! important;
    }

  #thumbs { border: 2px solid rgb(175, 152, 100);
    padding: 1px 3px 3px;
    width: 824px;
    background-color: rgb(255, 255, 255);
    }

  #thumbs img { border: 0px none ;
    text-align: center;
    }

  #thumbs p { margin: 5px 3px 10px;
    font-size: 0.7em;
    text-align: center;
    }

  #thumbs table { margin: 0px;
    }

  .dimmerrow { background-color: rgb(255, 255, 204);
    }

  #previews p { font-size: 0.7em;
    margin-top: 0px;
    margin-bottom: 10px;
    text-align: center;
    }

  p { font-size: 0.7em;
    margin-top: 0px;
    margin-bottom: 10px;
    text-align: justify;
    }

  h1 { font-size: 1em;
    margin-top: 0px;
    margin-bottom: 5px;
    font-weight: normal;
    font-variant: small-caps;
    }

  h2 { font-size: 0.9em;
    margin-top: 0px;
    margin-bottom: 5px;
    text-align: left;
    }

  h3 { border-top: 1px none rgb(88, 60, 59);
    border-bottom: 2px dotted rgb(175, 152, 100);
    font-size: 0.8em;
    margin-top: 0px;
    margin-bottom: 2px;
    padding-bottom: 2px;
    font-weight: bold;
    }

  h4 { font-size: 0.9em;
    margin-top: 0px;
    margin-bottom: 2px;
    color: rgb(175, 152, 100);
    }

  h5 { font-size: 1.1em;
    margin-top: 0px;
    margin-bottom: 15px;
    color: rgb(175, 152, 100);
    text-align: center;
    }


  td { vertical-align: top;
    text-align: justify;
    }

  a:link, a:visited { text-decoration: none;
    color: rgb(80, 32, 0);
    font-weight: bold;
    }

  a:hover { color: rgb(0, 0, 0);
    text-decoration: underline;
    }

  .attention {  border: 0px solid rgb(255, 0, 0); 
    margin: 0px 1px;
    padding: 5px;
    color: rgb(51, 51, 51);
    background-color: rgb(253, 173, 78);
    }

  .lightemph { background-color: rgb(255, 245, 215);
    }

  .emphasize { background-color: rgb(255, 232, 183);
    }


